html,
body {
  padding: 0;
  margin: 0;
  background-color: #ebebeb;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.input-placeholder::placeholder {
  font-size: .9rem;
}

.rounded-right {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.rounded-left {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
